# config/services.yml
dev:
  parameters:

all:
  parameters:
    
  services:
      actions_service:
          class: ApiActionsService
      oauth_service:
          class: ApiOAuthService
      customers_service:
          class: ApiCustomersService
          arguments: ["@oauth_service"]
      events_service:
          class: ApiEventsService
          arguments: ["@oauth_service"]
          calls:
            - ['setManifestationsService', ['@manifestations_service']]
      manifestations_service:
          class: ApiManifestationsService
          arguments: ["@oauth_service"]
      carts_service:
          class: ApiCartsService
      cartitems_service:
          class: ApiCartItemsService
          
